* {box-sizing: border-box; outline: none; overflow-anchor: none; font-family: "segoe", Arial, Helvetica, sans-serif; -webkit-tap-highlight-color: transparent;}	

a {cursor: pointer; transition: 0.3s;}

img {border:none; vertical-align: top;}

.btn {
	display: inline-flex; align-items: center; justify-content: center; gap:5px; cursor: pointer; text-decoration: none; user-select: none; border-radius: 15px; border:none; height: 40px; padding: 0 15px; transition: 0.3s; position: relative;
	span {pointer-events: none;}
	.btn-text {white-space: nowrap;}
	// colors
	&.gold {
		background-image: var(--gradient-hilite); color: var(--color-btn1); font-size: 16px; font-weight: 600;
		@media (hover: hover) and (pointer: fine) {&:hover {text-shadow: 1px 0 0 var(--color-btn1);}}
	}
	// icons
	.btn-icon {
		&::before {font-family: "fa-light"; display: inline-block;}
		&.link::before {content: "\e09f";}		
	}	
}

.smallbtn {
	display: inline-block; cursor: pointer; font-size: 24px; transition: 0.3s; color: var(--color-txt2);
	span::before {font-family: "fa-light";}
	@media (hover: hover) and (pointer: fine) {&:hover {color: var(--color-txt1);}}
	// icons
	&.menu {span::before {content: "\f0c9";}}	
	&.close {span::before {content: "\f00d";}}		
}

.loading {
	span::before {font-family: "fa-light"; content: "\f3f4"; display: inline-block; margin-right: 15px; animation: rotation 1s linear 0s infinite;}
}

/*
strong {color: var(--color-txt2);}

p {
	margin: 0 0 15px 0; line-height: 150%;
	&:last-child {margin: 0;}
}

ul {
	li {line-height: 150%;}
}



section {margin: 0 0 30px 0;}

h1 {
	@media (min-width:0) {font-size: 20px; margin: 0 0 15px 0;}
	@media (min-width:1000px) {font-size: 30px; margin: 0 0 30px 0;}
	color: var(--color-txt2);
}

input[type='text'], input[type='email'], input[type='password'], input[type='number'] {
	height: 40px; font-size: 16px; border-radius: 15px; border:1px var(--color-border2) solid; background: var(--color-input-bg1); color: var(--color-input-txt); padding: 0 15px; transition: 0.3s;
	&.error {border-color: var(--color-alert1);}
	&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {transition: background-color 9999s ease-in-out 0s; -webkit-text-fill-color: var(--color-input-txt);}
}

textarea {
	font-size: 16px; border-radius: 15px; border:1px var(--color-border2) solid; background: var(--color-input-bg1); color: var(--color-input-txt); padding: 15px; transition: 0.3s;
	&.error {border-color: var(--color-alert1);}
}

::placeholder {color: var(--color-input-ph);}

.selectwrap {
	position: relative; display: inline-block; height:40px;	  
	select {
		width: 100%; height: 100%; appearance: none; background: var(--color-input-bg1); border-radius: 15px; border:1px var(--color-border2) solid; cursor: pointer; color: var(--color-txt1); padding: 0 40px 0 15px; font-size: 16px; transition: 0.3s;
		option {color: black; background-color: white; border: none; border-radius: 0;}
	}
	&::after {position: absolute; right: 15px; top:50%; transform: translateY(-50%); pointer-events: none; font-family: "fa-light"; content: "\f078"; font-size: 16px; transition: 0.3s;}
	@media (hover: hover) and (pointer: fine) {&:hover {select, &::after {color: var(--color-txt2);}}}
}



.smallbtn {
	font-size: 20px; cursor: pointer; transition: 0.3s; color: var(--color-txt1); text-decoration: none; background: none; padding: 0; margin: 0; border:none;
	@media (hover: hover) and (pointer: fine) {&:hover {color: var(--color-txt2);}}
	span::before {font-family: "fa-light";}
	&.compact {
		@media (min-width:0) {font-size: 14px;}
		@media (min-width:1000px) {font-size: 16px;}		
	}
	&.busy {pointer-events: none;}
	&.menu {span::before {content: "\f0c9";}}
	&.edit {span::before {content: "\f044";}}
	&.delete {span::before {content: "\f00d";}}
	&.close {span::before {content: "\f00d";}}
	&.arrow {
		&[dir='ltr'] {span::before {content: "\e09f";}}
		&[dir='rtl'] {span::before {content: "\e09d";}}
	}	
	&.back[dir='ltr'] {span::before {content: "\f053";}}		
	&.back[dir='rtl'] {span::before {content: "\f054";}}
	&.next[dir='ltr'] {span::before {content: "\f054";}}	
	&.next[dir='rtl'] {span::before {content: "\f053";}}
	&.up {span::before {content: "\f077";}}
	&.down {span::before {content: "\f078";}}
	&.chat {span::before {content: "\f075";}}
}


*/
