@font-face {
	font-family: "segoe";
	src: url("/assets/fonts/SegoeUI.woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "segoe";
	src: url("/assets/fonts/SegoeUI-SemiBold.woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "segoe";
	src: url("/assets/fonts/SegoeUI-Bold.woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "segoe";
	src: url("/assets/fonts/SegoeUI-Italic.woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "segoe";
	src: url("/assets/fonts/SegoeUI-BoldItalic.woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "fa-light";
	src: url("/assets/fonts/fa-light.woff");
	font-display: swap;
}

@font-face {
	font-family: "fa-solid";
	src: url("/assets/fonts/fa-solid.woff");
	font-display: swap;
}

@font-face {
	font-family: "fa-brands";
	src: url("/assets/fonts/fa-brands.woff");
	font-display: swap;
}

html {
	--width: 1300px;

	--color-bg1: #131417;
	--color-bg2: #102235;
	--color-bg3: #252C41;
	--color-bg-trans1: rgba(18, 18, 18, 0.6);
	--color-txt1: #8994B5;
	--color-txt2: #ffffff;
	--color-border1: #434A5F;
	--color-btn1: #12171D;
	--color-hilite1: #BA8F1C;
	--color-hilite2: rgb(218, 190, 38);
	--color-hilite3: #F9EC30;
	--color-blick1: rgba(0, 113, 218, 0.50);
	--color-alert1: #F04438;

	--gradient-hilite: linear-gradient(90deg, var(--color-hilite1), var(--color-hilite3) 50%, var(--color-hilite1) 100%);



	--color-bg-main1: #121619;
	--color-bg-main2: #122336;
	--color-bg-popup1: #0D0F11;
	--color-bg-popup2: #122336;
	--color-bg-block1: rgba(18, 18, 18, 0.6); // подложка в моб. попапах
	--color-bg-block2: rgba(18, 18, 18, 0.95); // подложка в меню языков и аккаунта в шапке
	--color-bg-block25: rgba(18, 18, 18); // непрозрачный аналог --color-bg-block2
	--color-bg-block3: rgba(32, 32, 32, 0.25); // полупрозрачная подложка для всех блоков, совпадает с инпутом
	--color-bg-block4: rgba(17, 17, 17, 0.25); // более прозрачная подложка для блоков, используется в task.component
	--color-txt1: #c1c1c1;
	--color-txt2: #ffffff;
	--color-border1: #303030;
	--color-border2: #3f3f3f;
	--color-hilite1: #BA8F1C;
	--color-hilite2: rgb(218, 190, 38);
	--color-hilite25: rgb(218, 190, 38, 0.3);
	--color-shilite1: #3EB0F0;
	--color-rhilite1: #EC23D8;
	--color-btn1: #12171d;
	--color-input-bg1: rgba(32, 32, 32, 0.25);
	--color-input-bg2: rgba(0, 0, 0, 0.5);
	--color-input-txt: #c1c1c1;
	--color-input-ph: #5c5c5c;
	--color-ok: #9BF03E;

	--filter-black-to-border: invert(21%) sepia(2%) saturate(23%) hue-rotate(317deg) brightness(101%) contrast(87%);
	--filter-black-to-txt1: invert(91%) sepia(8%) saturate(12%) hue-rotate(314deg) brightness(92%) contrast(74%);
	--filter-black-to-txt2: invert(100%);
	--filter-black-to-hilite2: invert(90%) sepia(51%) saturate(1682%) hue-rotate(333deg) brightness(88%) contrast(93%);
}

@keyframes rotation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}