<div class="team">
    <div class="t-content">
        <div class="t-row">
            <div class="t-txt">
                <span>{{words['home']?.['team-1']?.[lang.slug]}}</span>
                <div class="t-ardown"><img src="/assets/images/ar-down1.svg" loading="lazy" alt="arrow"></div>
            </div>
            <div class="t-imgwrap"><img src="/assets/images/tteam1.webp" loading="lazy" alt="team"></div>            
        </div>
        <div class="t-row reverse">
            <div class="t-txt">
                <span>{{words['home']?.['team-2']?.[lang.slug]}}</span>
                <div class="t-ardown"><img src="/assets/images/ar-down1.svg" loading="lazy" alt="arrow"></div>
            </div>            
            <div class="t-imgwrap"><img src="/assets/images/tteam2.webp" loading="lazy" alt="team"></div>    
        </div>
        <div class="t-arright"><img src="/assets/images/ar-right1.svg" loading="lazy" alt="arrow"></div>
        <div class="t-arleft"><img src="/assets/images/ar-left1.svg" loading="lazy" alt="arrow"></div>
    </div>
    <div class="t-blick"><div class="tb-content"></div></div>
</div>
