<div class="oneclick">
    <div class="o-content">
        <div class="o-left">
            <div class="o-title" [innerHTML]="words['home']?.['click-title']?.[lang.slug]"></div>
            <ul>
                <li [innerHTML]="words['home']?.['click-desc1']?.[lang.slug]"></li>
                <li [innerHTML]="words['home']?.['click-desc2']?.[lang.slug]"></li>
            </ul>
        </div>
        <div class="o-right"><img src="/assets/images/ooneclick.webp" alt="oneclick" loading="lazy"></div>
    </div>    
</div>