<div class="eco">
    <div class="e-content">
        <div class="e-block">
            <div class="e-title">{{words['home']?.['eco']?.[lang.slug]}}</div>
            <div class="e-btnwrap">
                <a class="btn gold" [href]="mainsiteUrl">
                    <span class="btn-text">{{words["common"]?.["btn-app"]?.[lang.slug]}}</span>
                    <span class="btn-icon link"></span>
                </a>
            </div>
        </div>
    </div>   
    <div class="e-blick"><div class="eb-content"></div></div> 
</div>