<div class="moment">
    <div class="m-content">
        <div class="m-title-mob">{{words['home']?.['moment-title']?.[lang.slug]}}</div>
        <div class="m-main">
            <div class="m-imgwrap"><img src="/assets/images/pphone.webp" loading="lazy" alt="phone"></div>
            <div class="m-details">
                <div class="m-title-desk">{{words['home']?.['moment-title']?.[lang.slug]}}</div>
                <div class="m-desc">{{words['home']?.['moment-desc']?.[lang.slug]}}</div>
                <div class="m-bot"><span>{{words['home']?.['moment-bot']?.[lang.slug]}}</span></div>
            </div>
        </div>        
    </div>
</div>
