<ng-container *ngIf="articles === null"
  ><div class="loading">
    <span>{{words['common']?.['loading']?.[lang.slug]}}</span>
  </div></ng-container
>
<ng-container *ngIf="articles !== null">
  <div class="articles">
    <div class="a-content">
      <div class="a-title">
        <!-- {{words['home']?.['awards-title']?.[lang.slug]}} -->
        {{
          lang.slug === "ru"
            ? "Статьи"
            : lang.slug === "ua"
            ? "Статті"
            : lang.slug === "uk"
            ? "Статті"
            : lang.slug === "en"
            ? "Articles"
            : "Articles"
        }}
      </div>
      <ng-container *ngIf="!articles?.length"
        ><span>{{words['common']?.['empty']?.[lang.slug]}}</span></ng-container
      >
      <ng-container *ngIf="articles?.length">
        <div class="a-items" [class.busy]="loading">
          <div class="a-item" *ngFor="let article of articles; let i = index">
            <the-article [article]="article"></the-article>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
