<div class="awards">
    <div class="a-content">
        <div class="a-title">{{words['home']?.['awards-title']?.[lang.slug]}}</div>
        @if (awards === null) {
            <div class="loading"><span></span></div>
        } @else if (!awards.length) {
            <span>{{words['common']?.['empty']?.[lang.slug]}}</span>
        } @else {
            <div class="a-items">
                @for (a of awards; track a.id) {
                    <div class="a-item">
                        <div class="a-head">
                            <div class="a-imgwrap"><img src="/images/awards/{{a.img}}" loading="lazy" [alt]="a.name[lang.slug]"></div>
                            <div class="a-name">{{a.name[lang.slug]}}</div>
                        </div>
                        <div class="a-params">
                            <div class="a-param">
                                <span class="ap-title">{{words['home']?.['awards-earn']?.[lang.slug]}}</span>
                                <span class="ap-earn">${{a.earnings}}</span>
                            </div>
                            <div class="a-param">
                                <span class="ap-title">{{words['home']?.['awards-invest']?.[lang.slug]}}</span>
                                <span class="ap-invest">${{a.investments}}</span>
                            </div>
                        </div>                        
                        <div class="a-date">{{words['dates']?.['month-'+a.month]?.[lang.slug]}}&nbsp;{{a.year}}</div>
                    </div>
                }
            </div>
        }
    </div>    
</div>