<div class="contacts">
    <div class="c-content">
        <div class="c-block">
            <div class="c-title">{{words['home']?.['contacts']?.[lang.slug]}}</div>
            <div class="c-btnwrap">
                <a class="btn gold" [href]="words['home']?.['contacts-edulink']?.[lang.slug]" target="_blank">
                    <span class="btn-text">{{words["home"]?.["contacts-edubtn"]?.[lang.slug]}}</span>
                    <span class="btn-icon link"></span>
                </a>
            </div>
            <div class="c-items">
                @if (words['contacts']?.['tg']?.[lang.slug]) {<div class="c-item"><a target="_blank" class="tg" [href]="words['contacts']?.['tg']?.[lang.slug]"></a></div>}
                @if (words['contacts']?.['do']?.[lang.slug]) {<div class="c-item"><a target="_blank" class="do" [href]="words['contacts']?.['do']?.[lang.slug]"></a></div>}
                @if (words['contacts']?.['tw']?.[lang.slug]) {<div class="c-item"><a target="_blank" class="tw" [href]="words['contacts']?.['tw']?.[lang.slug]"></a></div>}
                @if (words['contacts']?.['yt']?.[lang.slug]) {<div class="c-item"><a target="_blank" class="yt" [href]="words['contacts']?.['yt']?.[lang.slug]"></a></div>}
                @if (words['contacts']?.['li']?.[lang.slug]) {<div class="c-item"><a target="_blank" class="li" [href]="words['contacts']?.['li']?.[lang.slug]"></a></div>}
                @if (words['contacts']?.['mail']?.[lang.slug]) {<div class="c-item"><a class="mail" href="mailto:{{words['contacts']?.['mail']?.[lang.slug]}}"></a></div>}     
            </div>
        </div>
    </div>   
</div>