<div class="how">
    <div class="h-content">
        <div class="h-title">{{words['home']?.['how-title']?.[lang.slug]}}</div>
        <div class="h-steps">
            <div class="h-step">
                <div class="hs-right">
                    <div class="hs-number"><span>1</span></div>
                    <div class="hs-title">{{words['home']?.['how-1']?.[lang.slug]}}</div>
                </div>
                <div class="hs-left">
                    <img src="/assets/images/how-1.webp" loading="lazy" alt="how">
                    <div class="hs-ardown-desc-l"><img src="/assets/images/ar-down2.svg" loading="lazy" alt="arrow"></div>
                    <div class="hs-ardown-mob-l"><img src="/assets/images/ar-down4.svg" loading="lazy" alt="arrow"></div>
                </div>
            </div>
            <div class="h-step">
                <div class="hs-right">
                    <div class="hs-number"><span>2</span></div>
                    <div class="hs-title">{{words['home']?.['how-2']?.[lang.slug]}}</div>
                </div>
                <div class="hs-left">
                    <img src="/assets/images/how-2.webp" loading="lazy" alt="how">
                    <div class="hs-ardown-desc-r"><img src="/assets/images/ar-down3.svg" loading="lazy" alt="arrow"></div>
                    <div class="hs-ardown-mob-r"><img src="/assets/images/ar-down4.svg" loading="lazy" alt="arrow"></div>
                </div>                
            </div>
            <div class="h-step">
                <div class="hs-right">
                    <div class="hs-number"><span>3</span></div>
                    <div class="hs-title">{{words['home']?.['how-3']?.[lang.slug]}}</div>
                </div>
                <div class="hs-left">
                    <img src="/assets/images/how-3.webp" loading="lazy" alt="how">
                    <div class="hs-ardown-desc-l"><img src="/assets/images/ar-down2.svg" loading="lazy" alt="arrow"></div>
                    <div class="hs-ardown-mob-l"><img src="/assets/images/ar-down4.svg" loading="lazy" alt="arrow"></div>
                </div>                
            </div>
            <div class="h-step">
                <div class="hs-right">
                    <div class="hs-number"><span>4</span></div>
                    <div class="hs-title">{{words['home']?.['how-4']?.[lang.slug]}}</div>
                </div>
                <div class="hs-left"><img src="/assets/images/how-4.webp" loading="lazy" alt="how"></div>                
            </div>
        </div>
    </div>   
</div>