.upper {
    @media (min-width:0) {right: 15px; bottom: 15px; width: 30px; height: 30px; font-size: 16px;}
    @media (min-width:1000px) {right: 45px; bottom: 15px; width: 40px; height: 40px; font-size: 20px;}
    position: fixed; z-index: 10; border-radius: 50%; border:1px var(--color-border1) solid; background-color: var(--color-bg3); display: flex; justify-content: center; align-items: center; color: var(--color-txt1); cursor: pointer; user-select: none; transition: 0.3s; opacity: 0; pointer-events: none;
    @media (hover: hover) and (pointer: fine) {&:hover {color: var(--color-txt2);}} 
    &.visible {opacity: 1; pointer-events: inherit;}
    span::before {font-family: "fa-light"; content: "\f062";}
}