<a
  [routerLink]="'/' + lang.slug + '/articles/' + article.slug"
  class="article"
  (click)="openArticle()"
>
  <div class="a-imgwrap" *ngIf="article.img">
    <img
      src="/images/articles/{{ article.img }}"
      loading="lazy"
      [alt]="article.name[lang.slug]"
    />
  </div>
  <div class="a-details" [class.wide]="!article.img">
    <div class="a-txt">
      <div class="a-name">{{ article.name[lang.slug] }}</div>
      <div class="a-content">{{ article.contentshort[lang.slug] }}</div>
    </div>
    <div class="a-dash">
      <div
        class="a-time"
        [title]="words['articles']?.['readtime']?.[lang.slug]"
      >
        <span
          >{{ article.readtime }}
          {{words['common']?.['minutes']?.[lang.slug]}}</span
        >
      </div>
    </div>
  </div>
</a>
